@import "@uploadthing/react/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-tafanu-blue: #0f172a;
  --color-tafanu-light: #f1f5f9;
  --color-tafanu-action: #25d366;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: var(--color-tafanu-light);
  color: var(--color-tafanu-blue);
  font-family: Arial, Helvetica, sans-serif;
}
/* Garante que o main não tenha fundo forçado */
main {
  background-color: transparent !important;
}

/* Remove qualquer margem extra que possa estar criando o espaço branco */
.report-container {
  background: none !important;
}
